$white: #ffffff;
$blue-bg: #466173;
$orange-strong: #fe344e;
$orange-light: #ff7250;
$orange-strong-hover: #d8223a;
$orange-light-hover: #d85a3c;
$color-table: #273b47;
$color-letter: #395667;
$color-content: #1F313C;